<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">Livonia</strong>
                <strong class="font-bold">Over 30</strong>
                <strong class="font-bold">Hockey</strong>
              </span>
              @*<span class="text-muted text-xs block">@Component.Invoke("SeasonSelected") <b class="caret"></b></span>*@
            </span>
          </a>
          @*<ul class="dropdown-menu animated fadeInRight m-t-xs">
            @Component.Invoke("SeasonSelector")
          </ul>*@
        </div>
        <div class="logo-element">
          LO30
        </div>
      </li>
      <li class="@Html.IsSelected(controller: "Standings")">
        <a href="#"><i class="fa fa-group"></i> <span class="nav-label" data-i18n="nav.graphs">Standings</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Standings", cssClass: "in")">
          <li class="@Html.IsSelected(action: "RegularSeason")"><a href="@Url.Action("Index", "Standings", new { Playoffs = false })">Regular Season</a></li>
          <li class="@Html.IsSelected(action: "Playoffs")"><a href="@Url.Action("Index", "Standings", new { Playoffs = true })">Playoffs</a></li>
        </ul>
      </li>
      <li class="@Html.IsSelected(controller: "Stats")">
        <a href="#"><i class="fa fa-user"></i> <span class="nav-label" data-i18n="nav.graphs">Stats</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Stats", cssClass: "in")">

          <li>Players</li>
          <li class="divider"></li>
          <li class="@Html.IsSelected(action: "RegularSeason")"><a href="@Url.Action("Index", "Stats", new { Playoffs = false })">Regular Season</a></li>
          <li class="@Html.IsSelected(action: "Playoffs")"><a href="@Url.Action("Index", "Stats", new { Playoffs = true })">Playoffs</a></li>
        </ul>
      </li>
      <li class="@Html.IsSelected(controller: "Careers")">
        <a href="#"><i class="fa fa-user-plus"></i> <span class="nav-label" data-i18n="nav.graphs">Careers</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Standings", cssClass: "in")">
          <li class="@Html.IsSelected(action: "RegularSeason")"><a href="@Url.Action("Index", "Standings", new { Playoffs = false })">Regular Season</a></li>
          <li class="@Html.IsSelected(action: "Playoffs")"><a href="@Url.Action("Index", "Standings", new { Playoffs = true })">Playoffs</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
