@model List<SeasonSelectorViewModel>

  <select class="selectpicker" id="seasons" name="seasons" data-size="10"  data-width="fit" data-style="btn-link dropdown-menu" onchange="javascript:location.href = this.value;">
    @foreach (var item in Model)
    {
      if (item.IsSelected == true)
      {
        <option selected="selected" value="@Url.Action("CriteriaUpdate", "Home",  new { selectedSeasonId = @item.SeasonId, path = ViewContext.HttpContext.Request.Path, queryString = ViewContext.HttpContext.Request.QueryString})">@item.SeasonName</option>
      }
      else
      {
        <option value="@Url.Action("CriteriaUpdate", "Home",  new { selectedSeasonId = @item.SeasonId, path = ViewContext.HttpContext.Request.Path, queryString = ViewContext.HttpContext.Request.QueryString})">@item.SeasonName</option>
      }
    }
  </select>