@model List<SeasonSelectorViewModel>

<div>
  <select id="seasons" name="seasons" size="10">
    @foreach (var item in Model)
    {
      if (item.IsSelected == true)
      {
        <option selected="selected" value="@Url.Action("CriteriaUpdate", "Home",  new { selectedSeasonId = @item.SeasonId, path = ViewContext.HttpContext.Request.Path, queryString = ViewContext.HttpContext.Request.QueryString})">@item.SeasonName</option>
      }
      else
      {
        <option value="@Url.Action("CriteriaUpdate", "Home",  new { selectedSeasonId = @item.SeasonId, path = ViewContext.HttpContext.Request.Path, queryString = ViewContext.HttpContext.Request.QueryString})">@item.SeasonName</option>
      }
    }
  </select>
</div>

@section Styles {
  <environment names="Development,Staging,Production">
  </environment>
}

@section Scripts {
  <environment names="Development,Staging,Production">
  </environment>

  <script type="text/javascript">
    $(document).ready(function () {
      $("#seasons").change(function () {
        location.href = $(this).val();
      })
  });
  </script>
}